<div class="login-wrapper">
  <mat-card class="login-card">
      <div class="logo">
          <img src="assets/images/logo.png">
      </div>

      <span class="error" *ngIf="error">{{ error }}</span>

      <form #formData='ngForm' class="login-form">
        
              <mat-form-field>
                <input matInput type="text" placeholder="Email address.." name="email" [(ngModel)]="email" required>
        
              </mat-form-field>
        
              <mat-form-field>
                <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password"required>
              </mat-form-field>
        
        
              <button mat-raised-button color="accent" (click)="auth.emailLogin(email, password)" [disabled]="!formData.valid">
                <span>Login</span>
              </button>
        
            </form>
      <a  class="register-link"routerLink="/login" routerLinkActive="active">
          <strong>Back</strong>
      </a>

  </mat-card>
</div>